.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.item img {
    width: 100%;
    height: 200px;
}

.items {
    display: flex;

}

/* .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */


@media only screen and (max-width: 768px) {
    .items {
        flex-direction: column;
    }

    .item {
        grid-template-columns: repeat(1, 1fr);
    }
}